@import "./index.css";
/* Navbar styles ---------------------------------------------*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
}
.quiz-container {
  display: flex;
  flex-direction: column;
}

.navbar ul{
  display: flex;
  gap: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.logo h1 {
  font-size: 3.2rem;
  font-weight: 700; 
  color: var(--headline-color);
}

ul li a {
  padding: 0.8rem 1.6rem;
  font-size: 2.4rem;
  color: var(--text-color);
  transition: all 0.3s ease;
}

ul li a:hover {
  background: var(--secondary-color);
  border-radius: 5px;
  color: #fff;
}