@import "./index.css";

/* Edit Quiz style -----------------------------------------*/

.edit-container {
    padding: 2rem 10%;
    margin: 10% auto;
}

.edit-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navbar .active {
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
}

#add-question-btn {
    align-self: flex-start;
    padding: 2rem 3rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.8rem;
    transition: background-color 0.3s ease;
}

#add-question-btn:hover {
    background-color: var(--secondary-color);
}

.question-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.question-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    margin: 5px 0;
    border: 1px solid #dddddd;
    border-radius: 8px;
    background-color: #f1f1f1;
    cursor: pointer;
}
.question-item p {
    font-size: 1.8rem;
    font-weight: 500;
}

.question-item .features{
    display: flex;
    font-size: 2.4rem;
    font-weight: 500;
    gap: 20px;
}

.edit-question {
    color: #007bff;
    cursor: pointer;
    padding: 4px;
}
.delete-question {
    color: #dddddd;
    cursor: pointer;
    background-color: #dc3545;
    padding: 4px;
    border-radius: 50%;
}

dialog {
    border: none;
    border-radius: 8px;
    padding: 0;
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background-color: #800080; /* Purple */
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 2rem;
    text-align: center;
}

.modal-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-body label {
    font-size: 1.8rem;
    font-weight: 600;
}
.modal-body input {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
}
.modal-footer button {
    padding: 16px 32px;
    margin-left: 10px;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.8rem;
    transition: all 0.3s ease;
}
.modal-footer button:hover {
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styling the backdrop (the area behind the popup) */
dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}
/* ---------------------------------------------------------*/
