@import "./index.css";
/* Play Quiz style -----------------------------------------*/

.navbar .active {
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#progress-bar {
  height: 20px;
  width: 100%;
  background-color: lightgray;
}
#quiz-content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#start {
  background-color: var(--primary-color);
  color: white;
  border-radius: 20px;
  padding: 20px;
  font-size: 300%;
  cursor: pointer;
}

#quiz {
  width: 950px;
  max-width: 80%;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
  padding: 10px;
}

#question {
  display: flex;
  justify-content: center;
  align-items: center;
}

#choices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}

.choice {
  display: inline-block;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}
.choice:hover {
  border: 1px solid rgb(15, 15, 15);
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: 2rem;
  margin-top: 6rem;
}

.progress-bar #progress {
  position: absolute;
  height: 100%;
  border-radius: 1rem;
  background: var(--main-color);
}

#scoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
